<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button League</title>
</head>
<body>
  <h1>Button League</h1>
  <nav>
    <a class="nav-item" href="/match-list">Matches</a>
    <a class="nav-item" href="/league-table">Table</a>
  </nav>
  <h2>League table:</h2>
  <table>
    <thead>
      <th><!-- empty for position in the table --></th>
      <th>Team</th>
      <th>MP</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Pts</th>
    </thead>
    <tbody>
      <tr th:each="teamStats, index : ${ teamsStats }">
        <td th:text="${ index.count }"></td>
        <td><a th:href="@{/team/{teamId}/player-list(teamId=${teamStats.team.id})}" th:text="${ teamStats.team.name }"></a></td>
        <td th:text="${ teamStats.matchesPlayed }"></td>
        <td th:text="${ teamStats.wins }">#</td>
        <td th:text="${ teamStats.draws }">#</td>
        <td th:text="${ teamStats.losses }">#</td>
        <td th:text="${ teamStats.goalsFor }"></td>
        <td th:text="${ teamStats.goalsAgainst }">#</td>
        <td th:text="${ teamStats.goalDifference }">#</td>
        <td th:text="${ teamStats.points }">#</td>
      </tr>
    </tbody>
  </table>
</body>
</html>