<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/match-list.css}">
    <title>Button League</title>
</head>
<body>
    <h1>Button League</h1>
    <nav>
        <a class="nav-item" href="/match-list">Matches</a>
        <a class="nav-item" href="/league-table">Table</a>
    </nav>

    <!-- if user is signed in show this -->
    <div sec:authorize="isAuthenticated()">
    <p class="login-status">Logged in as: <span sec:authentication="name"></span></p>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" value="WfK-AdqXq0N7MEGw7mTbjUMslGFC5cGqU0izPjo4YwYgFRBbPJCKZbiuzXFWCXSC2Unv7HBIuQB01_GHYiuCDwxdWjFEJyJi"/>
        <input type="submit" value="Sign out">
    </form>
    </div>
    <!-- if not show this -->
    <div sec:authorize="isAnonymous()">
        <!-- Content to show if user is not signed in -->
        <a href="/login"><button type="button" class="sign-in">Sign in</button></a>
    </div>

    <h2>Matches:</h2>
    <div sec:authorize="hasAuthority('admin')">
        <a href="/add-match"><button type="button" class="add-button">Add a match</button></a>
    </div>
    <div class="match-list">
        <!-- iterate Map<LocalDate, List<Match>> to show matches grouped by date-->
        <div class="matches-of-date" th:each="matches : ${ matchesByDate }">
            <h3 th:text="${matches.key} != null ? ${matches.key} : 'Not yet scheduled'"></h3>
            <!-- and then inside that we iterate the List<Match> to show all matches of that date -->
            <div class="scorecard" th:each="match : ${ matches.value }">
                <div class="match-time" th:text="${match.time} != null ? ${match.time} : 'TBA'">##:##</div>
                <div class="teams">
                    <p th:text="${match.homeTeam.name}">Home team</p>
                    <p th:text="${match.awayTeam.name}">Away Team: [Insert Away Team Name Here]</p>
                </div>
                <div class="scores">
                    <p th:text="${match.homeScore}">#</p>
                    <p th:text="${match.awayScore}">#</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>