<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" th:src="@{/js/match-form-script.js}"></script>
  <title>Button League</title>
</head>
<body>
  <h1>Button League</h1>
  <nav>
    <a class="nav-item" href="/match-list">Matches</a>
    <a class="nav-item" href="/league-table">Table</a>
    <a class="nav-item" href="/team-list">Teams</a>
  </nav>

  <div sec:authorize="isAuthenticated()">
    <p class="login-status">Logged in as: <span sec:authentication="name"></span></p>
    <form th:action="@{/logout}" method="post">
      <input type="hidden" name="_csrf" value="WfK-AdqXq0N7MEGw7mTbjUMslGFC5cGqU0izPjo4YwYgFRBbPJCKZbiuzXFWCXSC2Unv7HBIuQB01_GHYiuCDwxdWjFEJyJi"/>
      <input type="submit" value="Sign out">
    </form>
  </div>

  <h2>Edit or add a new match:</h2>
  <form th:object="${match}" th:action="@{/save-match}" action="#" method="post">

    <input type="hidden" th:field="${match.id}">
    <label for="homeTeam">Home team:</label>
    <select id="homeTeam" required th:field="${match.homeTeam}">
      <!-- by default show empty field on the select-->
      <option value="" style="display: none;"></option>
      <option th:each=" team : ${ teams }" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
    <br />
    <label for="awayTeam">Away team:</label>
    <select id="awayTeam" required th:field="${match.awayTeam}">
      <option value="" style="display: none;"></option>
      <option th:each=" team : ${ teams }" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
    <br />
    <label for="date">Date (optional):</label>
    <input type="date" id="date" th:field="${match.date}"/>
    <br />
    <label for="time" id="timeLabel" style="display: none">Time (optional):</label>
    <input type="time" id="time" th:field="${match.time}" style="display: none"/>
    <br />
    <div id="score-form" style="display: none">
      <h3>Score:</h3>
      <p>(Leave both empty if this is an upcoming match.)</p>
      <label for="homeScore">Home:</label>
      <input type="number" min="0" id="homeScore" th:field="${match.homeScore}">
      <label for="awayScore">Away:</label>
      <input type="number" min="0" id="awayScore" th:field="${match.awayScore}">
    </div>
    <br />
    <input type="submit" value="Save" />
  </form>
  <div class="error-message" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
  </div>
</body>
</html>