<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button League</title>
</head>
<body>
    <h1>Button League</h1>
    <h2>Matches:</h2>
    <div class="match-list">
        <!-- iterate Map<LocalDate, List<Match>> to show matches grouped by date-->
        <div class="matches-of-date" th:each="matches : ${ matchesByDate }">
            <h3 th:text="${matches.key}"></h3>
            <!-- and then inside that we iterate the List<Match> to show all matches of that date -->
            <div class="scorecard" th:each="match : ${ matches.value }">
                <span class="team-name" th:text="${match.homeTeam.name}">Home Team</span>
                <span class="score" th:text="${match.homeScore}">#</span><br>
                <span class="team-name" th:text="${match.awayTeam.name}">Away Team</span>
                <span class="score" th:text="${match.awayScore}">#</span>
                <br><br>
            </div>
        </div>
    </div>
</body>
</html>