<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" th:src="@{/js/team-page-script.js}"></script>
  <title>Button League</title>
</head>
<body>
<h1>Button League</h1>
<nav>
  <a class="nav-item" href="/match-list">Matches</a>
  <a class="nav-item" href="/league-table">Table</a>
  <a class="nav-item" href="/team-list">Teams</a>
</nav>

<!-- if user is signed in show this -->
<div sec:authorize="isAuthenticated()">
  <p class="login-status">Logged in as: <span sec:authentication="name"></span></p>
  <form th:action="@{/logout}" method="post">
    <input type="hidden" name="_csrf" value="WfK-AdqXq0N7MEGw7mTbjUMslGFC5cGqU0izPjo4YwYgFRBbPJCKZbiuzXFWCXSC2Unv7HBIuQB01_GHYiuCDwxdWjFEJyJi"/>
    <input type="submit" value="Sign out">
  </form>
</div>

<!-- if not show this -->
<div sec:authorize="isAnonymous()">
  <!-- Content to show if user is not signed in -->
  <a href="/login"><button type="button" class="sign-in">Sign in</button></a>
</div>

<h2 id="team-name"><span th:text="${ team.name }"></span></h2>
<div id=team-name-edit-wrapper sec:authorize="hasAuthority('ADMIN')">
  <button id="edit-team-name-button" type="button">Edit name</button>
  <!-- this is for passing the team id to the js file -->
  <form action ="#" id="team-name-form" method="post" th:object="${ team }" th:action="@{/save-team}" style="display: none;">
    <label for="id"></label>
    <input type="hidden" id="id" th:field="${team.id}" readonly="readonly" />
    <input type="hidden" name="redirectToTeamPage" th:value="${true}" readonly="readonly"/>
    <label for="name"></label>
    <input type="text" th:field="${team.name}" id="name">
    <input type="submit" value="Save">
  </form>

  <input id="team-id" type="hidden" th:value="${team.id}">
  <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete-team/{teamId}(teamId=${team.id})}"
          onclick="return confirm('Deleting this team will delete all it\'s players and all played and upcoming ' +
           'matches the team is in. \n\nAre you sure you want to delete this team AND all it\'s players and matches?')">
    <button type="button" class="delete-button">Delete team</button></a>
  <div class="error-message" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
  </div>

</div>
<h3>Players:</h3>

<div sec:authorize="hasAuthority('ADMIN')" id="add-player-form">
  <h4 >Add new player to <span th:text="${team.name}"></span></h4>
  <form  th:object="${newPlayer}" th:action="@{/save-player}" method="post" action="#">
    <label for="firstName">First name:</label>
    <input id="firstName" th:field="${newPlayer.firstName}" required>
    <label for="lastName">Last name:</label>
    <input id="lastName" th:field="${newPlayer.lastName}" required>
    <label for="number">Number:</label>
    <select id="number" th:field="${newPlayer.number}" required>
      <option th:each="number : ${availableNumbers}" th:value="${number}" th:text="${number}"></option>
    </select>
    <input type="hidden" th:field="${newPlayer.team.id}">
    <input type="submit" value="Save">
  </form>
</div>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <!-- columns edit and delete buttons -->
    <th sec:authorize="hasAuthority('ADMIN')"></th>
    <th sec:authorize="hasAuthority('ADMIN')"></th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="player : ${players}">
      <td><span class="playerNumber" th:text="${player.number}"></span></td>
      <td><span class="playerName" th:text="${player.firstName + ' ' + player.lastName}"></span></td>
      <td><a sec:authorize="hasAuthority('ADMIN')"
             th:href="@{/edit-player/{playerId}(playerId=${player.id})}">
        <button type="button" class="edit-button">Edit</button></a></td>
      <td><a sec:authorize="hasAuthority('ADMIN')"
             th:href="@{/delete-player/{playerId}(playerId=${player.id})}"
             onclick="return confirm('Are you sure you want to delete this player?')">
          <button type="button" class="delete-button">Delete</button></a></td>
    </tr>
  </tbody>
</table>
</body>
</html>